<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
       data-bs-toggle="dropdown" aria-expanded="false">
        Acciones
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
            <a class="dropdown-item" href="{{ path('tipo_novedad_nomina_update', {'id': novedadNomina.id}) }}">Editar</a>
        </li>
        {#<li>
            <a class="dropdown-item" href="{{ path('contrato_personal', {'slug': contrato.slug}) }}">Personal</a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('contrato_renovar', {'slug': contrato.slug}) }}">Renovar</a>
        </li>#}
    </ul>
</div>