<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-vertical" method="post" data-parsley-validate action="{{ path('contrato_personal_update', {'slug':  contrato.slug }) }}">
                        <input type="hidden" name="action" id="action" value="{{ action }}">
                        <div class="form-body">
                            {% if action == 'insert' %}
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="personal_id2" class="form-label">Personal</label>
                                        <select class="form-select select2-personal" style="width: 100%" name="personal_id" id="personal_id" required aria-label="Default select example">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row  d-none">
                                    <div class="col-12 form-group">
                                        <input type="hidden" name="personal_id" id="personal_id_edit">
                                        <label for="personal_name" class="form-label">Personal</label>
                                        <input class="form-control" id="personal_name" readonly>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row mb-3">
                                <div class="col-12 form-group">
                                    <label for="fecha_ingreso" class="form-label">Fecha de ingreso</label>
                                    <input type="date" class="form-control" name="fecha_ingreso" id="fecha_ingreso" data-parsley-group="block1" data-parsley-required="true" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 form-group">
                                    <label for="tipo_nomina" class="form-label">Tipo Nómina</label>
                                    <select class="form-select" aria-label="Default select example" data-parsley-group="block1" name="tipo_nomina" id="tipo_nomina" data-parsley-required="true" required>
                                        <option value="" selected>Seleccione una opción</option>
                                        {% for tipoNomina in tiposNomina %}
                                            <option value="{{ tipoNomina.id }}">{{ tipoNomina.nombre }}</option>
                                        {% endfor %} %
                                    </select>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 form-group">
                                    <label for="salario_basico" class="form-label">Salario básico</label>
                                    <div class="input-group ">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" name="salario_basico" id="salario_basico" data-parsley-group="block1" data-parsley-required="true" required>
                                    </div>

                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 form-group">
                                    <label for="bono" class="form-label">Bono</label>
                                    <div class="input-group ">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" name="bono" data-parsley-group="block1" data-parsley-required="false" id="bono">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end mt-3">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Guardar</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reiniciar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

