<div class="dropdown">
    <a class="btn btn-primary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
       data-bs-toggle="dropdown" aria-expanded="false">
        Acciones
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% if cliente.estado == 1 %}
            <li>
                <a class="dropdown-item" href=" {{ path('cliente_deactivate', {'slug': cliente.slug}) }} ">Desactivar</a>
            </li>
        {% else %}
            <li>
                <a class="dropdown-item" href=" {{ path('cliente_activate', {'slug': cliente.slug}) }} ">Activar</a>
            </li>
        {% endif %}
        <li>
            <a class="dropdown-item" href="{{ path('cliente_edit', {'slug': cliente.slug}) }}">Editar</a>
        </li>
    </ul>
</div>