<form method="post" action="{{ path('cliente_delete', {'slug': cliente.slug}) }}" id="deleteClienteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-danger mt-3" type="button" id="delete-cliente">Delete</button>
</form>
