<form method="post" action="{{ path('eps_delete', {'id': eps.id}) }}" id="deleteEpsForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eps.id) }}">
    <button class="btn btn-danger mt-3" type="button" id="delete-eps">Borrar Eps</button>
</form>
