{% extends 'base.html.twig' %}

{% block title %}Edit Eps{% endblock %}

{% block body %}
    <h1>Edit Eps</h1>

    {{ include('eps/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_eps_index') }}">back to list</a>

    {{ include('eps/_delete_form.html.twig') }}
{% endblock %}
