{% extends 'base.html.twig' %}

{% block title %}New Eps{% endblock %}

{% block body %}
    <h1>Create new Eps</h1>

    {{ include('eps/_form.html.twig') }}

    <a href="{{ path('app_eps_index') }}">back to list</a>
{% endblock %}
