<form method="post" action="{{ path('cargo_delete', {'id': cargo.id}) }}" id="deleteCargoForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cargo.id) }}">
    <button class="btn btn-danger mt-3" type="button" id="delete-cargo">Borrar cargo</button>
</form>
