<form method="post" action="{{ path('afc_delete', {'id': afc.id}) }}" id="deleteAfcForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ afc.id) }}">
    <button class="btn btn-danger mt-3" type="button" id="delete-afc">Borrar Afc</button>
</form>
