{% extends 'base.html.twig' %}

{% block title %}New Afc{% endblock %}

{% block body %}
    <h1>Create new Afc</h1>

    {{ include('afc/_form.html.twig') }}

    <a href="{{ path('app_afc_index') }}">back to list</a>
{% endblock %}
