<form method="post" action="{{ path('afp_delete', {'id': afp.id}) }}" id="deleteAfpForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ afp.id) }}">
    <button class="btn btn-danger mt-3" type="button" id="delete-afp">Borrar Afp</button>
</form>
